<!DOCTYPE html>
<html lang="en" ng-app="app">
    <head>
        <meta charset="UTF-8">
        <title>Angular Question Answer</title>
        <link rel="stylesheet" href="bower_components/angular/angular-csp.css">
        <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="dist/form-builder-bootstrap.min.css">
        <link rel="stylesheet" href="dist/form-viewer.min.css">
        <link rel="stylesheet" href="assets/css/style.css">
    </head>
    <body ng-controller="ViewerController as ctrl" ng-cloak>


        <div class="demo-container" ng-if="ctrl.formData">

                <div class="form-inline">
<!--                    <button type="button" style="margin-bottom: 15px" class="btn btn-default" ng-click="ctrl.resetViewer()">Reset</button>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="ctrl.formOptions.autoStart"> Autostart
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="ctrl.viewerReadOnly"> Read only
                        </label>
                    </div>-->
                </div>

                <mw-form-viewer form-data="ctrl.formData" template-data="ctrl.templateData"  form-status="ctrl.formStatus" options="ctrl.formOptions" api="ctrl.formViewer" response-data="ctrl.responseData" read-only="ctrl.viewerReadOnly" on-submit="ctrl.saveResponse()"></mw-form-viewer>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="ctrl.showResponseData"> Show response data
                    </label>
                </div>
                <pre ng-if="ctrl.showResponseData">
{{ctrl.responseData|json}}
                </pre>
        </div>

		
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
        <script src="bower_components/angular-translate/angular-translate.min.js"></script>
        <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
        <script src="bower_components/angular-elastic/elastic.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <script src="bower_components/Sortable/Sortable.min.js"></script>
        <script src="vendor/angular-legacy-sortable.js"></script>
        <script src="dist/form-utils.js"></script>
        <script src="dist/form-builder.js"></script>
        <script src="dist/form-builder-bootstrap-tpls.min.js"></script>
        <script src="dist/form-viewer.js"></script>
        <script src="dist/form-viewer-bootstrap-tpls.min.js"></script>
        <script src="app/app.js"></script>


    </body>
</html>