<div class="panel panel-default" ng-controller="ListController">
    <div class="panel-body">
                
				
				<div ng-repeat="(key, value) in quiz | groupBy: 'name'">
					<h4>{{ key }}</h4>
				  
					<table class="table table-striped">
					<thead>
					  <tr>
						<th>#</th>
						<th>Quiz</th>
					  </tr>
					</thead>
					<tbody>
					  <tr ng-repeat="form in value">
						<td width="150">{{ $index + 1 }}</td>
						<td><a ui-sref="view({quizId: form.id})">{{form.title}}</a></td>
					  </tr>
					  </tbody>
					</table>
				</div>
				<div ng-hide="quiz.length">
					<h4>No Record Found</h4>
				</div>

	</div>
  </div>
